<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:insert="fragments :: htmlHead">
  <title>Création d'un post</title>
</head>
<!--! Changer les variables Langage et Outils & Technologies (Voir avec les controller)-->
<body>
<div th:insert="fragments :: headerContent"></div>
<main>
  <div id="main-container">
    <article>
      <h1>Créer un post</h1>
      <div class="article-container">
        <form method="post" th:action="@{/createPost}" th:object="${post}">
          <div class="form-group">
            <input type="text" th:field="*{postTitre}" placeholder="Titre du post"/>
          </div>
          <!--! Changer la div et en ajouter pour afficher les erreurs de chaque champ à l'utilisateur -->
<!--          <div class="validation-error" th:if="${#fields.hasErrors('numRue')}" th:errors="*{numRue}">Numéro de rue Error</div>-->
          <div class="form-group">
            <input type="text" th:field="*{postDescription}" placeholder="Description"/>
          </div>
          <div class="form-group">
            <!--! Changer les variables Langage (Voir avec les controller)-->
            <select name="langageId">
              <option>Langage</option>
              <option th:each="langage: ${langages}"
                      th:value="${langage.langageId}" th:text="${langage.langageIntitule}">
              </option>
            </select>
          </div>
          <div class="form-group">
            <!--! Changer les variables Outils & Technologies (Voir avec les controller)-->
            <select name="technologieId">
              <option>Outils & Technologies</option>
              <option th:each="technologie: ${technologies}"
                      th:value="${technologie.technologieId}" th:text="${technologie.technologieIntitule}">
              </option>
            </select>
          </div>
          <!--! Changer les variables Outils & Technologies (Voir avec les controller)-->
          <div class="form-group">
            <input type="text" th:field="*{postDescription}" placeholder="Créer un Outil et/ou une Technologie"/>
          </div>

          <div class="grand-form">
            <textarea th:field="*{postContenu}" placeholder="Code"></textarea>
          </div>

          <button type="submit">Valider</button>

        </form>
      </div>
    </article>
  </div>
</main>
<div th:insert="fragments :: footer"></div>

</body>
</html>