<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:insert="fragments :: htmlHead">
  <title>Inscription</title>
</head>

<body>
<div th:insert="fragments :: headerContent"></div>

<main>
  <div id="main-container">
    <article>
      <div class ="article-header">
        <div class="info-container">
          <div class ="avatar-container">
            <div class ="pseudo">
              <span>Inscription</span>
            </div>
          </div>
        </div>
      </div>
      <div class="article-container">
        <form method="post" th:action="@{/inscription}" th:object="${user}">
          <div class="form-group">
            <input name="pseudoUser" type="text" th:field="*{userPseudo}" placeholder="Pseudo">
          </div>
          <div class="validation-error" th:if="${#fields.hasErrors('userPseudo')}" th:errors="*{userPseudo}">Erreur pseudo</div>

          <div class="form-group">
            <input name="emailUser" type="text" th:field="*{userEmail}" placeholder="Email">
          </div>
          <div class="validation-error" th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}">Erreur email</div>

          <div class="form-group">
            <input name="passwordUser" type="text" th:field="*{userMdp}" placeholder="Mot de Passe">
          </div>
          <div class="validation-error" th:if="${#fields.hasErrors('userMdp')}" th:errors="*{userMdp}">Erreur mot de passe</div>

          <div class="form-group">
            <input name="avatarUser" type="text" th:field="*{userAvatar}" placeholder="Avatar">
          </div>
          <div class="validation-error" th:if="${#fields.hasErrors('userAvatar')}" th:errors="*{userAvatar}">Erreur avatar</div>

          <button type="submit">Valider</button>

        </form>
      </div>
      <div class="article-footer">
      </div>
    </article>
  </div>
</main>

<div th:insert="fragments :: footer"></div>

</body>
</html>